.news {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;


}

.title {

    margin-left: -750px;

}

@media (max-width: 375px) {
    .title {
        align-self: flex-start;
        margin-left: 10px;
    }
}

@media (max-width: 765px) {
    .title {
        align-self: flex-start;
        margin-left: 30px;
    }
}

@media (max-width: 1024px) {
    .title {
        align-self: flex-start;
        margin-left: 60px;
    }

}

h2 {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 61px;
    font-weight: bold;
    text-transform: uppercase;

}

.bottles h3 {
    font-size: 40px;
    line-height: 61px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 41px;
    align-self: flex-start;
    padding-left: 38px;
}

.bottles {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.body img {
    width: 319px;
    height: 459px;
    position: absolute;
    z-index: -1;
    top: 90px;
}

.body {
    position: relative;
    width: 426px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 375px) {
    .body {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.table {
    align-self: flex-end;
    margin-bottom: 270px;
}

.table table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table p {
    max-width: 170px;
}

.table td {
    font-family: Arial, Helvetica, sans-serif;
    width: 75px;
    height: 45px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.table p {
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    font-size: 14px;
    line-height: 24px;
}

.description p {
    width: 330px;
    line-height: 30px;
    font-size: 16px;
    color: #404040;
    margin-bottom: 20px;

}

.more {

    border: 2px solid #834700;
    color: #834700;
    width: 141px;
    height: 45px;
    text-decoration: none;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}

.more:hover {
    border-color: #6a3900;
    color: #6a3900;

}

.more:active {
    border: 2px solid rgba(131, 71, 0, 0.3);
    color: rgba(131, 71, 0, 0.3);
}


.buy {

    border: 2px solid #834700;
    background-color: #834700;
    color: white;
    width: 107px;
    height: 45px;
    text-decoration: none;
    margin-right: 26px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy:hover {
    background-color: #6a3900;
    border: 2px solid #6a3900
}

.buy:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a3900;
    border: 2px solid #6a3900;
}


.property {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.property p {
    text-transform: uppercase;
    font-weight: bold;
}